<tr>
    <td bgcolor="#ffffff" width="33" style="min-width:33px">&nbsp;</td>
    <td width="100%" style="min-width:290px;">&nbsp;</td>
    <td bgcolor="#ffffff" width="33" style="min-width:33px">&nbsp;</td>
</tr>

<tr class="product">
    <td bgcolor="#efefec" width="33" style="min-width:33px">&nbsp;</td>
    <td width="100%" style="min-width:290px;">
        <table bgcolor="#efefec" width="100%"border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td height="27" width="100%" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border=0 cellpadding=0 cellspacing="0" style="max-width:800px; margin: 0 auto;">
                        <tbody>
                        <tr>
                            <td class="vero-editable">
                                {% block prod_description %}
                                <p class="big"><span class="red"><span class="price">3,90 €</span> / mois</span> avec un <strong>abonnement annuel</strong></p>
                                <p>En souscrivant un abonnement pour une année complète, je suis prélevé chaque année de 46,80 € au lieu de 64,90 € soit une réduction de près de 30 %.</p>
                                
                                {% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td height="15" width="100%" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table bgcolor="#de4949" border=0 cellpadding=0 cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                        <td height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                        <td class="cta vero-editable">
                                            {% block cta %}
                                            <a href="{{ '{{' }}event.password_recover_url{{ '}}' }}"><span>Je souscris un abonnement annuel</span></a>
                                            {% endblock %}
                                        </td>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                        <td height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                        <td width="10" height="10" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="20" width="100%" style="font-size:0px; line-height:0px !important;">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td bgcolor="#efefec" width="33" style="min-width:33px">&nbsp;</td>
</tr>
