<tr>
    <td bgcolor="{{ color }}" width="33" height="{{ height }}" style="font-size:0px;min-width:33px">&nbsp;</td>
    <td bgcolor="{{ color }}" width="100%" height="{{ height }}" style="font-size:0px;min-width:290px;">&nbsp;</td>
    <td bgcolor="{{ color }}" width="33" height="{{ height }}" style="font-size:0px;min-width:33px">&nbsp;</td>
</tr>
