{% extends "transactional_with_cta.html" %}
{% block intro %}
<p>Bonjour,</p>
<p>Nous avons le plaisir de vous envoyer Brief.me depuis quelques jours. Nous espérons qu'il vous aide à y voir plus clair dans l'actualité et qu'il vous est utile.</p>
<p>Vous pouvez bien sûr à tout moment nous dire ce que vous en pensez en nous écrivant par simple retour de mail. N'hésitez pas à nous faire part de vos critiques et à nous faire des suggestions. Depuis le début, Brief.me se construit avec ses lecteurs, en tirant parti de leurs remarques.</p>
<p><strong>Nous avons préparé un petit questionnaire assez court (seulement cinq questions) pour recueillir vos premières impressions. Cela nous serait précieux d'avoir vos réponses, pour nous aider à améliorer Brief.me.</strong></p>
{% endblock %}


{% block cta %}
<a href="http://example.com"><span>Je réponds à cinq petites questions</span></a>
{% endblock %}

{% block outro %}
<p>Votre période d'essai arrivera à échéance dans cinq numéros. Nous vous préviendrons le moment venu pour qui vous puissiez, si vous le souhaitez, résilier votre abonnement.</p>
<p>À bientôt,</p>
<p>L'équipe de <strong>Brief.me</strong></p>
{% endblock %}
